<div class="flexcontainer">
  <div class="flexform">

    <h1>Message <%= "#{@company.name.sub(/^./, &:upcase)}" %></h1>
    <%= simple_form_for [@company, @message] do |f| %>
    <%= f.input :subject %>
    <%= f.input :text, as: :text, placeholder: 'user@domain.com' %>
    <%= f.hidden_field :sent, :value => true %>
    <%= f.button :submit %>
    <% end %>

  </div>
</div>
