<div class="container">
  <h2> Messages </h2>

  <% sent_messages = [] %>
  <% @user.messages.each do |message| %>
  <% @company = Company.find(message.company_id) %>
  <div class="row">
    <div class="col-sm-12">
      <% if message.sent_by_user == true %>
      <% sent_messages << @company.id %>
      <div class="product">
        <%= cl_image_tag @company.avatar, :class => "product-image hidden-xs" %>
        <div class='product-body'>
         <p>Sent to: <%= @company.name.sub(/^./, &:upcase) %></p>
         <p><strong><%= link_to "Open send message", user_message_path(current_user, message) %></strong></p>
         <p><%= @company.id %></p>
         <p><%= message.request_id %></p>
         <p><%= message.subject %></p>
         <p><%= message.text %></p>
         <p>Sent by user: <%= message.sent_by_user %></p>
         <p>Date: <%= message.created_at %></p>
         <% if policy(message).edit? %>
         <%= link_to "Edit", edit_company_message_path(@company, message), :class => "btn" %>
         <% end %>
         <% if policy(message).destroy? %>
         <%= link_to "Delete", company_message_path(@company, message), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
         <% end %>
       </div>
     </div>
     <% end %>
   </div>
 </div>
 <% end %>

 <% @user.messages.each do |message| %>
 <div class="row">
  <div class="col-sm-12">
    <% if !message.sent_by_user && sent_messages.include?(message.request_id) %>
    <div class="product">
      <%= cl_image_tag @company.avatar, :class => "product-image" %>
      <div class='product-body'>
       <p>Sent to: <%= @company.name.sub(/^./, &:upcase) %></p>
       <p><strong><%= link_to "Open message from #{@company.name.sub(/^./, &:upcase)}", user_message_path(current_user, message) %></strong></p>
       <p><%= @company.id %></p>
       <p><%= message.request_id %></p>
       <p><%= message.subject %></p>
       <p><%= message.text %></p>
       <p>Sent by user: <%= message.sent_by_user %></p>
       <p>Date: <%= message.created_at %></p>
       <% if policy(message).edit? %>
       <%= link_to "Edit", edit_company_message_path(@company, message), :class => "btn" %>
       <% if policy(message).destroy? %>
       <%= link_to "Delete", company_message_path(@company, message), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
       <% end %>
       <% end %>
     </div>
   </div>
   <% end %>
 </div>
</div>
<% end %>

</div>
</div>
