<div class="container">
  <div class="row">
    <h2> Messages </h2>
    <div class="col-sm-6">

      <div class="flexcontainer">
        <div class="flexform">
          <% if @user.messages.present? %>
          <p><strong>Messages sent</strong></p>
          <% @user.messages.each do |message| %>
          <% if message.sent_by_user == true %>
          <% @company = Company.find(message.company_id) %>
          <div class="card-dashboard">
            <p>Sent to: <%= @company.name.sub(/^./, &:upcase) %></p>
            <p><%= message.subject %></p>
            <p><%= message.text %></p>
            <p>Sent by user: <%= message.sent_by_user %></p>
            <p>Date: <%= message.created_at %></p>
            <% if policy(message).edit? %>
            <%= link_to "Edit", edit_company_message_path(@company, message), :class => "btn" %>
            <% if policy(message).destroy? %>
            <%= link_to "Delete", company_message_path(@company, message), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
            <% end %>
            <% end %>
          </div>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-sm-6">

      <div class="flexcontainer">
        <div class="flexform">
          <% if @user.messages.present? %>
          <p><strong>Messages received</strong></p>
          <% @user.messages.each do |message| %>
          <% if message.sent_by_user == false %>
          <% @company = Company.find(message.company_id) %>
          <div class="card-dashboard">
            <p>Sent by: <%= @company.name.sub(/^./, &:upcase) %></p>
            <p><%= message.subject %></p>
            <p><%= message.text %></p>
            <p><%= message.sent_by_user %></p>
            <p>Date: <%= message.created_at %></p>
            <% if policy(message).edit? %>
            <%= link_to "Edit", edit_company_message_path(@company, message), :class => "btn" %>
            <% if policy(message).destroy? %>
            <%= link_to "Delete", company_message_path(@company, message), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
            <% end %>
            <% end %>
          </div>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
