<h2> Select a message </h2>
<div id="target-div">
  <% if @messages.present? %>

  <% @messages.each do |message| %>
  <p><%= message.name %></p>
  <p><%= message.email %></p>
  <p><%= message.category %></p>
  <p><%= message.avatar %></p>
  <p><%= message.url %></p>
  <% end %>
  <% end %>
</div>
