<h2> Messages </h2>
<p>Current user id <%= current_user.id %></p>
<% if @user.messages.present? %>
  <p><strong>Messages</strong></p>
  <% @user.messages.each do |message| %>
    <% @company = Company.find(message.company_id) %>
    <p>Sent to: <%= @company.name %></p>
    <p><%= message.subject %></p>
    <p><%= message.text %></p>
    <p>Date: <%= message.created_at %></p>
    <% if policy(message).edit? %>
      <%= link_to "Edit", edit_company_message_path(@company, message), :class => "btn" %>
    <% end %>
  <% end %>
<% end %>

<p><strong>Selected companies</strong></p>
<% current_user.user_selections.all.each do |select| %>
<% @company = Company.find(select.company_id) %>
<p><%= @company.name %></p>
<% end %>