  <div class="flexcontainer full-height space-around">
    <div class="flexform div-margin-top">
      <% sent_messages = [] %>
      <% @user.messages.each do |message| %>
      <% @company = Company.find(message.company_id) %>
      <% if message.sent_by_user == true %>
      <% sent_messages << @company.id %>
      <% end %>
      <% end %>

      <div>
        <h3> My requests </h3>
        <% @user.messages.sort_by {|message| message.company_id}.each do |message| %>
        <% @company = Company.find(message.company_id) %>
        <% if sent_messages.include?(message.company_id) && message.sent_by_user == true %>

        <div class="row">
          <div class="col-sm-12">
            <div class="product">
              <%= cl_image_tag @company.avatar, :class => "product-image hidden-xs" %>
              <div class='product-body'>
                <h3><%= link_to "Sent to #{@company.name.sub(/^./, &:upcase)}", user_message_path(current_user, message) %></h3>
                <% if policy(message).edit? %>
                <%= link_to "Edit", edit_company_message_path(@company, message)%>
                <% end %>
                <p><%= link_to "Delete", company_message_path(@company, message), :data => {:confirm => 'Are you sure?'}, :method => :delete %></p>
              </div>
              <div class="messages-infobox">
                <ul class="deadline-list">
                  <li><p><strong>Deadline</strong></p></li>
                  <li><%= (message.created_at + 30.days).strftime("%b %d, %Y") %></li>
                  <% t = ((message.created_at + 30.days) -  DateTime.now) %>
                  <% mm, ss = t.divmod(60)            #=> [4515, 21] %>
                  <% hh, mm = mm.divmod(60)           #=> [75, 15] %>
                  <% dd, hh = hh.divmod(24)           #=> [3, 3] %>
                  <%= "%d days, %d hours, %d minutes" % [dd, hh, mm] %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <% elsif message.sent_by_user == false %>
        <div class="row">
          <div class="col-sm-12">
            <div class="product">
              <%= cl_image_tag @company.avatar, :class => "product-image hidden-xs" %>
              <div class='product-body'>
                <h3><%= link_to "Received from #{@company.name.sub(/^./, &:upcase)}", user_message_path(current_user, message) %></h3>
                <% if message.attachment.present? %>
                <i class="fa fa-paperclip icon"></i>
                <% end %>

                <% if policy(message).edit? %>
                <%= link_to "Edit", edit_company_message_path(@company, message)%>
                <% end %>
                <% if policy(message).destroy? %>
                <%= link_to "Delete", company_message_path(@company, message), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
                <% end %>
              </div>
              <div class="messages-infobox">
                <ul class="deadline-list">
                  <li><p><strong>Deadline</strong></p></li>
                  <li><i class="fa fa-check icon-checkmark"></i></li>
                </ul>
                <%= link_to new_company_message_path(@company), id: "forgetme", class: "forgetme" do %>
                <div>Forget me</div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>

      </div>
    </div>
  </div>
