<div class="flexcontainer full-height space-around">
  <div class="flexform div-margin-top">

    <h1>Message <%= "#{@company.name.sub(/^./, &:upcase)}" %></h1>
    <%= simple_form_for [@company, @message] do |f| %>
      <%= f.input :subject, placeholder: 'user@domain.com', input_html: {text: 'text', value: "Remove my data", :class => 'form-text' } %>
      <%= f.input :text, as: :text, placeholder: 'user@domain.com', input_html: {text: 'text', value: "Dear Sir/Madam,

  My name is #{current_user.first_name} #{current_user.last_name}. I would like to erase all my personal data that #{@company.name.sub(/^./, &:upcase)} has about me. As according to article 17 GDPR, I would like to receive a confirmation within 30 days from now (#{ (Date.today + 30.days).strftime("%b %d, %Y") }).

  Thank you in advance.

  Best regards,
  #{current_user.first_name} #{current_user.last_name}", :class => 'form-text' } %>
      <%= f.hidden_field :sent_by_user, :value => true %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :request_id, :value => @company.id %>
      <%= f.input :attachment %>
      <%= f.button :submit, "Send message", :id => "remove-data" %>
    <% end %>
  </div>
</div>

<% if current_user.admin?%>
  <div class="flexcontainer full-height space-around">
    <div class="flexform div-margin-top div-margin-bottom">

      <h1>Message to user</h1>
      <% User.all.each do |user| %>
      <ul class="list-inline">
        <li><strong>Name: </strong><%= user.first_name %></li>
        <li><strong>ID: </strong> <%= user.id  %></li>
      </ul>
      <% end %>

      <%= simple_form_for [@company, @message] do |f| %>
        <%= f.input :subject %>
        <%= f.input :text, as: :text, placeholder: 'user@domain.com' %>
        <%#= f.input :user_id, required: true %>
        <%= f.hidden_field :sent_by_user, :value => false %>
        <%= f.input :user_id, as: :integer, required: true %>
        <%= f.input :request_id, as: :integer, required: true %>
        <%= f.button :submit, "Send message" %>
      <% end %>

    </div>
  </div>
<% end %>
