<div class="flexcontainer">
  <div class="flexform">
    <h2> Messages </h2>

    <p>Current user id <%= current_user.id %></p>
    <p><strong>Selected companies</strong></p>
    <% current_user.user_selections.all.each do |select| %>
    <% @company = Company.find(select.company_id) %>
    <p><%= @company.name.sub(/^./, &:upcase) %></p>
    <p><%= @company.id %></p>
    <% end %>

    <% current_user.user_selections.all.each do |select| %>
    <% @company = Company.find(select.company_id) %>
    <h1>Message <%= "#{@company.name.sub(/^./, &:upcase)}" %></h1>
    <%= simple_form_for [@company, @message] do |f| %>
    <%= f.hidden_field :sent_by_user, :value => true %>
    <%= f.input :subject, placeholder: 'user@domain.com', input_html: {text: 'text', value: "#{current_user.first_name} #{current_user.last_name}", :class => 'form-text' } %>
    <%= f.input :text, as: :text, placeholder: 'user@domain.com', input_html: {text: 'text', value: "Beste lezer,

Mijn naam is #{current_user.first_name} #{current_user.last_name} en via GetMyData wil ik graag de persoonlijke informatie die #{@company.name.sub(/^./, &:upcase)} over mij bezit opvragen.

Met vriendelijke groet,
#{current_user.first_name} #{current_user.last_name}", :class => 'form-text' } %>
    <%= f.hidden_field :sent, :value => true %>
    <%= f.button :submit, "Send message" %>
    <% end %>

    <% end %>
  </div>
</div>

<%= link_to select_path, :class => "wizzard-button btn-left" do %>
Back to select
<% end %>

<%= link_to profile_path, :class => "wizzard-button btn-right" do %>
Send messages
<% end %>
