<div class="flexcontainer">
  <div class="flexform">

    <% if @user_selections.present? %>

    <% current_user.user_selections.all.each do |select| %>
    <% @company = Company.find(select.company_id) %>
    <h3>Request data from <%= "#{@company.name.sub(/^./, &:upcase)}" %></h3>
    <%= simple_form_for [@company, @message] do |f| %>
    <%= f.hidden_field :sent_by_user, :value => true %>
    <%= f.input :subject, placeholder: 'user@domain.com', input_html: {text: 'text', value: "#{current_user.first_name} #{current_user.last_name}", :class => 'form-text' } %>
    <%= f.input :text, as: :text, placeholder: 'user@domain.com', input_html: {text: 'text', value: "Beste lezer,

      Mijn naam is #{current_user.first_name} #{current_user.last_name} en via GetMyData wil ik graag de persoonlijke informatie die #{@company.name.sub(/^./, &:upcase)} over mij bezit opvragen.

      Met vriendelijke groet,
      #{current_user.first_name} #{current_user.last_name}", :class => 'form-text' } %>
      <%= f.hidden_field :sent, :value => true %>
      <%= f.button :submit, "Send message" %>
      <% end %>
      <% end %>
    </div>
  </div>


  <% else %>

  <h1 class="text-center"><%= link_to "Click here", select_path %> to select companies</h1>

  <% end %>

  <%= link_to select_path, :class => "wizzard-button btn-left" do %>
  Back to select
  <% end %>

  <%= link_to user_messages_path(current_user, message_sent: 0), :class => "wizzard-button btn-right" do %>
  Send all messages
  <% end %>
