
<div id="home-container">
  <!-- homepage banner video: -->
  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter">
      </div>
      <video autoplay loop class="fillWidth">
        <source <%= video_tag "High-Lines.mp4"  %> />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
          <img src="banner-young-people.jpeg" alt="">
        </div>
      </div>
      <div class="flexcontainer column" id="home">
        <div class="flexform text-center">
          <h1 class="text-center">What do companies know about you?</h1>
          <h3 class="text-center">GetMyData helps you find out</p>
          </div>
          <%= link_to select_path, :class => "homepage-request-button" do %>
          Start
          <% end %>
        </div>
      </div>
    </div>
    <!-- end of homepage banner video -->



    <div class="container">
      <div class="row homepage-row" id="anchor-1">
        <div class="col-sm-6">
          <%= link_to root_path do %>
          <%= image_tag "https://source.unsplash.com/random", class: "home-image"  %>
          <% end %>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum laudantium eligendi odio quibusdam, sunt iure quia nam corporis quis non. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

          <p>Quo sapiente voluptates fugiat ut beatae pariatur, vel veniam voluptas libero cupiditate eum dolorem, rem nisi quia inventore hic expedita velit perspiciatis quibusdam, quis quasi. Ipsa vel, excepturi, omnis quibusdam, nam aliquam doloremque rerum possimus inventore fugiat, illo perspiciatis veritatis consectetur laborum.</p>
        </div>
      </div>

      <div class="row homepage-row" id="anchor-2">
        <div class="col-sm-6">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum laudantium eligendi odio quibusdam, sunt iure quia nam corporis quis non. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

          <p>Quo sapiente voluptates fugiat ut beatae pariatur, vel veniam voluptas libero cupiditate eum dolorem, rem nisi quia inventore hic expedita velit perspiciatis quibusdam, quis quasi. Ipsa vel, excepturi, omnis quibusdam, nam aliquam doloremque rerum possimus inventore fugiat, illo perspiciatis veritatis consectetur laborum.</p>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <%= link_to root_path do %>
          <%= image_tag "https://source.unsplash.com/random", class: "home-image"  %>
          <% end %>
        </div>
      </div>

      <div class="row homepage-row">
        <div class="col-sm-12">
          <h1 class="text-center">Lorem ipsum</h1>
          <h3 class="text-center" id="anchor-3">Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum laudantium eligendi odio quibusdam, sunt iure quia nam corporis quis non. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

          <p>Quo sapiente voluptates fugiat ut beatae pariatur, vel veniam voluptas libero cupiditate eum dolorem, rem nisi quia inventore hic expedita velit perspiciatis quibusdam, quis quasi. Ipsa vel, excepturi, omnis quibusdam, nam aliquam doloremque rerum possimus inventore fugiat, illo perspiciatis veritatis consectetur laborum.</p>
        </div>
        <div class="col-sm-12">
          <%= link_to root_path do %>
          <%= image_tag "https://source.unsplash.com/random", class: "home-image-full"  %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="home-navigation-circle">
      <ul>
        <%= link_to root_path(anchor: 'home') do %>
        <li><i class="fa fa-circle"></i></li>
        <% end %>
        <%= link_to root_path(anchor: 'anchor-1') do %>
        <li><i class="fa fa-circle"></i></li>
        <% end %>
        <%= link_to root_path(anchor: 'anchor-2') do %>
        <li><i class="fa fa-circle"></i></li>
        <% end %>
        <%= link_to root_path(anchor: 'anchor-3') do %>
        <li><i class="fa fa-circle"></i></li>
        <% end %>
      </ul>
    </div>
