<div class="flexcontainer">
<div class="flexform">

<h1>Edit Organization</h1>
<%= simple_form_for @company do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :category, collection: ["Living", "Energy", "News", "Bank", "Education"], prompt: "Choose a category" %> <!-- Don't forget to change the validation if you change this ;) -->
  <%= f.input :url %>
  <%= f.input :avatar %>
  <%= f.button :submit, "Add Organization" %>
<% end %>

</div>
</div>
