<div class="flexcontainer">
  <div class="flexform">
    <h1>Edit Organization</h1>
    <%= simple_form_for @company do |f| %>
      <%= cl_image_tag @company.avatar, height: 200, width: 200, crop: :fit %>
      <%= f.input :avatar %>
      <%= f.input :avatar_cache, as: :hidden %>
      <%= link_to "Delete logo", @company.avatar.file.delete %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :category, collection: ["Living", "Energy", "News", "Bank", "Education"], prompt: "Choose a category" %> <!-- Don't forget to change the validation if you change this ;) -->
      <%= f.input :url %>
      <%= f.button :submit, "Update Organization" %>
    <% end %>
  </div>
</div>
