<h2> Select a Company </h2>
<div class="search">
  <% form_tag companies_path+'target-div', method: :get do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control"
    %>
    <% end %>
  </div>


  <div id="target-div">
    <% if @companies.any? %>

    <% @companies.each do |company| %>
    <p><%= company.name %></p>
    <p><%= company.email %></p>
    <p><%= company.category %></p>
    <p><%= company.avatar %></p>
    <p><%= company.url %></p>
    <% end %>
    <% end %>
  </div>
