<div class="flexcontainer full-height">
  <div class="flexform div-margin-top">
    <h2> Ranking</h2>
    <br>
    <% i = 0  %>
    <div id="target-div">
      <% @companies.sort_by { |company| -company.get_likes.size }.each do |company| %>
      <div class="product">
        <div class="ranking-number">
          <p><%= i += 1 %>.</p>
        </div>
        <%= cl_image_tag company.avatar, :class => "product-image hidden-xs" %>
        <div class='product-body'>
          <h3><strong><%= link_to company.name.sub(/^./, &:upcase), company_path(company) %></strong></h3>
        </div>
        <div class='product-upvote'>
          <%= link_to like_company_path(company), method: :put do %>
          <div class="product-arrow-up arrow-hover-up"></div>
          <% end %>
          <div class='product-count'><%= company.get_likes.size %></div>
          <%= link_to unlike_company_path(company), method: :put do %>
          <div class="product-arrow-down arrow-hover-down"></div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
