<div class="flexcontainer full-height">
  <div class="flexform div-margin-top">
    <h2> Ranking</h2>
    <br>
    <% i = 0  %>
    <div id="target-div">
      <% @companies.sort_by { |company| -company.get_likes.size }.each do |company| %>
      <div class="ranking-card">
        <div class="ranking-number">
          <p><%= i += 1 %>.</p>
        </div>
        <%= cl_image_tag company.avatar, :class => "product-image hidden-xs" %>
        <div class='product-body'>
          <h3><strong><%= link_to company.name.sub(/^./, &:upcase), company_path(company) %></strong></h3>
        </div>
        <div class='product-upvote'>
          <%= link_to like_company_path(company), method: :put do %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <% end %>

          <span class='product-count'>
            <%= company.get_upvotes.size %>
          </span>

          <%= link_to unlike_company_path(company), method: :put do %>
          <span class="glyphicon glyphicon-thumbs-down"></span>
          <% end %>

          <span class='product-count'>
            <%= company.get_downvotes.size %>
          </span>

        </div>
        <div class='product-upvote'>
          <span class="glyphicon glyphicon-comment"></span><%= link_to company_path(company, anchor: "disqus_thread") do %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script id="dsq-count-scr" src="//getmydata.disqus.com/count.js" async></script>
