<h2> Select a Company </h2>
<% @companies.each do |company| %>
   <p><%= company.name %></p>
   <p><%= company.email %></p>
   <p><%= company.category %></p>
   <p><%= company.avatar %></p>
   <p><%= company.url %></p>
<% end %> 
