<div class="flexcontainer full-height space-around">
  <div class="flexform div-margin-top">
    <h1> Ranking</h1>
    <br>
    <div id="target-div">
      <% @companies.ranked.each_with_index do |company, index| %>
      <div class="ranking-card">
        <div class="ranking-number">
          <p><%= index + 1 %>.</p>
        </div>
        <%= cl_image_tag company.avatar, :class => "product-image hidden-xs" %>
        <div class="ranking-card-body">
          <h3><strong><%= link_to company.name.sub(/^./, &:upcase), company_path(company) %></strong></h3>
        </div>
        <div class="ranking-card-vote">
          <%= link_to like_company_path(company), method: :put do %>
          <span class="glyphicon glyphicon-thumbs-up ranking-card-color-positive"></span>
          <% end %>

          <span class="voting-count-positive">
            <%= company.get_upvotes.size %>
          </span>

          <%= link_to unlike_company_path(company), method: :put do %>
          <span class="glyphicon glyphicon-thumbs-down ranking-card-color-negative"></span>
          <% end %>

          <span class="voting-count">
            <%= company.get_downvotes.size %>
          </span>

        </div>
        <div class="ranking-card-vote">
          <%= link_to company_path(company, anchor: "disqus_thread") do %>
          0 Comments
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script id="dsq-count-scr" src="//getmydata.disqus.com/count.js" async></script>
