<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-7">
      <div>
        <h1><%= @company.name.sub(/^./, &:upcase) %></h1>
        <p>  <%= cl_image_tag @company.avatar, height: 200, width: 200, crop: :fit %></p>
        <p>Contact: <%= @company.email %></p>
        <p>Contact: <%= @company.url %></p>
        <p>Contact: <%= @company.category %></p>
        <% @reviews.each do |i| %>
          <ul>
            <%= i.comment %>
            <%= i.like %>
            <% if policy(i).edit? %>
              <%= link_to "Edit", edit_company_review_path(@company, i), :class => "btn" %>
            <% end %>
            <% if policy(i).destroy? %>
              <%= link_to "Delete", company_review_path(@company, i), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
            <% end %>
          </ul>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div>
          <%= link_to "Message #{@company.name}", new_company_message_path(@company) %> <br>
          <p> <%= link_to "Review #{@company.name}", new_company_review_path(@company) %></p>
          <%= link_to "Homepage", root_path %>
          <% if policy(@company).edit? %>
            <%= link_to "Edit", edit_company_path(@company), :class => "btn" %>
          <% end %>
          <% if policy(@company).destroy? %>
            <%= link_to "Delete", company_path(@company), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
