<div class="ranking-card" data-company-id="<%=company.id%>">
  <%= cl_image_tag company.avatar, :class => "product-image" %>
  <div class='ranking-card-body'>
    <h3><strong><%= link_to company.name.sub(/^./, &:upcase), company_path(company) %></strong></h3>
  </div>
  <div id="select-btn">
    <%= simple_form_for([@user_selection], remote: true) do |f| %>
      <%= f.input :company_id, :as => :hidden, :input_html => { :value => company.id }  %>
      <%= f.submit "select", class: "product-link" %>
    <% end %>
  </div>
</div>

