<div class="container">
  <div class="row div-margin-top">
    <div class="col-sm-offset-2 col-sm-7">
      <div class="flexcontainer">
        <div class="flexform">

          <h3> Select companies and get your data! </h3>

          <div class="search">
            <%= form_tag companies_path+'#target-div', method: :get do %>
            <%= text_field_tag :query, params[:query], class: "select-search" %>
            <button type="sumbit" class="search-button"><i class="fa fa-search"></i></button>
            <% end %>
          </div>

          <div id="target-div">
            <% selection_array = [] %>
            <h3>Companies</h3>
            <% if @user_selections.present? %>
            <% @user_selections.each do |selection| %>
            <% selection_array << selection.company_id %>
            <% end %>

            <% @companies.sort_by {|company| company.name.downcase}.each do |company| %>
            <% if !selection_array.include?(company.id)  %>

            <div class="product">
              <%= cl_image_tag company.avatar, :class => "product-image hidden-xs" %>
              <div class='product-body'>
                <h3><strong><%= link_to company.name.sub(/^./, &:upcase), company_path(company) %></strong></h3>
                <p><%= company.email %></p>
              </div>
                <%= simple_form_for(@user_selection) do |f| %>
                <%= f.input :company_id, :as => :hidden, :input_html => { :value => company.id }  %>
                <%= f.button :submit, "select" %>
                <% end %>
            </div>
            <% end %>
            <% end %>

            <% else %>

            <% @companies.sort_by {|company| company.name.downcase}.each do |company| %>
            <div class="product">
              <%= cl_image_tag company.avatar, :class => "product-image hidden-xs" %>
              <div class='product-body'>
                <h3><strong><%= link_to company.name.sub(/^./, &:upcase), company_path(company) %></strong></h3>
                <p><%= company.email %></p>
              </div>
              <% if user_signed_in? %>
                <div id="select-btn">
                  <%= simple_form_for([@user_selection], remote: true) do |f| %>
                  <%= f.input :company_id, :as => :hidden, :input_html => { :value => company.id }  %>
                  <%= f.button :submit, "select" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <% end %>
            <% end %>

            <h3> Can't find a company? Add it! </h3>
            <%= link_to "Add company", new_company_path, :class => "wizzard-button-add" %>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-2">
      <div>
        <h3>Selected organizations</h3>

        <% if @user_selections.present? %>

        <ul class="select-list">
          <% @user_selections.each do |selection| %>
              <%= render "userselections/button", { user_selection: @user_selection, selection: selection } %>
          <% end %>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to root_path, :class => "wizzard-button btn-left", :id => "stickybutton-left" do %>
Home
<% end %>

<%= link_to sendmessages_path, :class => "wizzard-button btn-right", :id => "stickybutton-right" do %>
Next
<% end %>
