<div class="flexcontainer">
  <div class="flexform">

    <div>
      <% if @user_selections.present? %>
      <h3>Selected companies</h3>
      <% @user_selections.each do |selection| %>
      <% @companies.each do |company| %>
      <% if company.id == selection.company_id %>
      <ul class="list-inline">
        <li class="list-inline-item"><%= company.name.sub(/^./, &:upcase) %></li>
        <%= simple_form_for(@user_selection) do |f| %>
        <%= link_to 'Delete', destroy_user_selections_path(selection), :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </ul>
      <% end %>
      <% end %>
      <% end %>
      <% end %>
    </div>

    <h2> Select organizations and get your data! </h2>
    <% if user_signed_in? %>
    <%= link_to "Add Organization", new_company_path %>
    <% end %>
    <div class="search">
      <%= form_tag companies_path+'#target-div', method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control"
        %>
        <% end %>
      </div>


      <div id="target-div">
        <% selection_array = [] %>
        <h3>Not selected companies</h3>
        <% if @user_selections.present? %>
        <% @user_selections.each do |selection| %>
        <% selection_array << selection.company_id %>
        <% end %>
        <% @companies.each do |company| %>
        <% if !selection_array.include?(company.id)  %>
        <div class="card-dashboard">
          <p><strong><%= link_to company.name, company_path(company) %></strong></p>
          <p><%= company.email %></p>
          <p><%= company.category %></p>
          <p><%= company.url %></p>
          <%= simple_form_for(@user_selection) do |f| %>
          <%= f.input :company_id, :as => :hidden, :input_html => { :value => company.id }  %>
          <%= f.button :submit, "select" %>
          <% end %>
          </div>
          <% end %>
          <% end %>

          <% else %>
          <% @companies.each do |company| %>
          <div class="card-dashboard">
            <p><strong><%= link_to company.name, company_path(company) %></strong></p>
            <p><%= company.email %></p>
            <p><%= company.category %></p>
            <p><%= company.url %></p>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to root_path, :class => "wizzard-button btn-left" do %>
  Home
  <% end %>

  <%= link_to sendmessages_path, :class => "wizzard-button btn-right" do %>
  Send messages
  <% end %>
