<!DOCTYPE html>
<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116355935-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116355935-1');
  </script>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>GetMyData - What do companies know about me?</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= favicon_link_tag 'favicon-dark.png' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <meta property="og:title" content="GetMyData.io" />
  <meta property="og:description" content="What do companies know about me?" />
  <meta property="og:image" content="http://www.campie.nl/wp-content/uploads/2018/03/GetMyDataOgImage.png" />

</head>
<body>
  <%= render 'shared/countdown-banner' %>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>

